body {
    font-family: $font-family-nunito;
    font-size: 1rem;
    background-color: #ffff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.5;
}

.text-edited{
    color: $primary-color !important;
}
.header_hr{
    border-top: 2px solid #218490;
}

a.text-edited {
	color: $primary-color;
	text-decoration: none;
	background-color: transparent;
}

a.text-edited:hover {
	color: $primary-dark-color;
	text-decoration: none;
}
a {
    color: $primary-color;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: $primary-dark-color;
    text-decoration: none;
}

.btn-edited {
    color: #fff !important;
    background-color: $primary-color !important;
    border-color: $primary-color !important;
}

.btn-edited:hover {
    color: #fff !important;
    background-color: $primary-dark-color !important;
    border-color: $primary-dark-color !important;
}

.carousel-item > .card-item {
    margin: 10px auto;
}
.mobile-item-slide.carousel > .carousel-control {
    background: $dark;
    height: 30px;
    width: auto;
    top: 40%;
}