// Typography
$font-family-nunito: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #fff;
$title: #484848; //ko ye zaw hein
/*$title: #218490;*/
$blue: #3490dc;
$header: #f6f6f6;
$dark-blue: #1f2833;
$light-blue: #47505c;
$grey: #828081;

/*kkhaing*/
$primary-color : #218490;
$primary-light-color : #5bb4c0;
$primary-dark-color : #005763;

$dark: #333;
