.category{
     @media (max-width: 768px) {
          .menu-bar{
               display: none;
          }
          .filter{
               display: block;
          }
     }
     @media (min-width: 768px) {
          .filter {
               display: none;
          }
     }
}