.interval{
	background-color: #218490;
	max-height: 180px;
}
.left-interval{
	background-image: url('/images/interval/left_interval5.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.right-interval{
	background-image: url('/images/interval/right_interval.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.card-product {
	max-width: 200px;
	height: 100%;
	padding: 12px;
	border: 0;
	position: relative; 
	padding-bottom: 20px;
	@include transition(all .3s linear);
	.card-body {
		padding: 10px;
		text-align: center;
		.card-title {
			color: $dark;
			&:hover {
				color: $primary-color;
			}
		}
	}
	&:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	&:hover .overlay{
		/*bottom: 50%;*/
		/*height: 50%;*/
		height: 50%;
	}
}
.overlay{
	position: absolute;
	/*bottom: 100%;*/
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #041217;
	opacity: 0.8;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}
.detail-btn{
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}