//header
.header {
    padding: 5px 10px;
    -webkit-transition-duration: 700ms;
    transition-duration: 700ms;
    transition:all .3s linear;
   
         @media only screen and (max-width: 959px) { 
            padding: 0;
        }
  }

  #myHeader{
      z-index: 99;
  }
  
  .navbar-collapse {
      flex-grow: 0;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(72,72,72, 0.2),
        0 6px 20px 0 rgba(72,72,72, 0.2);
  }

.navbar-brand {
    color: $dark;
    // font-size: 24px;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 70px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: $dark;
    font-weight: 700;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    color: $dark;
    font-size: 18px;
    font-weight: bold;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-item.active .nav-link {
    color: $dark;
}

.search-btn>a {
    color: $dark;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
}

.dropdown-menu {
    padding: .25rem 0;
    box-shadow: 2px 3px 9px 0px rgba(72,72,72,0.5);
    border: 1px solid lighten($dark, 60%);
}

.dropdown-item {
    font-weight: 600;
    font-size: 15px;
    color: $dark;
    padding: .3rem 1rem;
}

.dropdown-item i{
    line-height: inherit;
}

.maindrop:hover {
    background-color: $dark;
    color: #fff;

    a{
        background-color: $dark;
        color: #fff;
    }
}

.maindrop{
    color: $dark;
    text-decoration: none;
    @media only screen and (max-width: 992px) { 
        font-size: 14px;
  }

  @media only screen and (min-width: 993px) and (max-width: 1200px) {
        font-size: 15px;
  }
}


.dropdown-item a{
    color: $dark;
    text-decoration: none;
   
}

.subdrop{
    font-weight: 600;
    color: $dark;

    @media only screen and (max-width: 992px) { 
        font-size: 14px;
    }

  @media only screen and (min-width: 993px) and (max-width: 1200px) {
    font-size: 15px;
    }
}

.subdrop:hover {
    background-color: $dark;
    color: #fff;

    a{
        color: $dark;
    }

    a:hover{
        color: $blue;
    }
}

.subdrop .dropdown-item a{
    color: $dark;
    text-decoration: none;
}

.subdrop .dropdown-menu{
    width: 800px;
    height: auto;
    top: -35px;

    @media only screen and (min-width: 1001px) and (max-width: 1050px) {
        width: 750px;
     }

    @media only screen and (min-width: 951px) and (max-width: 1000px) {
        width: 700px;
     }

    @media only screen and (min-width: 871px) and (max-width: 950px) {
        width: 650px;
     }

    @media only screen and (min-width: 821px) and (max-width: 870px) {
       width: 600px;
    }

    @media only screen and (min-width: 767px) and (max-width: 820px){
        width: 550px;
    }   
}

.dropdown-toggle::after {
    border: none !important;
}

.dropright .dropdown-menu{
    margin-left: 0.05rem;
    padding: 20px;

    @media only screen and (min-width: 800px) and (max-width: 1000px) {
        padding: 10px;
   }
 
     @media only screen and (min-width: 767px) and (max-width: 800px){
        padding: 10px;
    }   

    h3{
        font-size: .8rem;
        color:#000;

        @media only screen and (min-width: 800px) and (max-width: 1000px) {
           font-size: .7rem;
       }
     
        @media only screen and (min-width: 767px) and (max-width: 800px){
            width: .5rem;
        }   
    }
    h6{
        font-size: .7rem;
        color:#000;

        @media only screen and (min-width: 800px) and (max-width: 1000px) {
            font-size: .6rem;
        }
      
        @media only screen and (min-width: 767px) and (max-width: 800px){
            width: .4rem;
        }   
    }

    hr{
        margin-top: 0;
        margin-bottom: 0.3rem;
        border: 1px solid lighten(#262626, 20%);
    }
}

.search-form {
    width: 100%;
    position: fixed;
    z-index: 99999;
    height: 60px;
    background-color: #262626;
    top: -200px;
    left: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    overflow-x: hidden;
}

.search-form-on .search-form {
    top: 0;
}

.sticky .search-form {
    height: 80px;
}

.search-form form {
    position: relative;
    z-index: 1;
}

.search-form form input {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: $header;
    height: 30px;
    color: $dark;
    padding: 0 20px;
    font-size: 15px;
}

#closeBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 9;
    background-color: transparent;
    margin-top: -15px;
    top: 50%;
    border-radius: 50%;
    right: 30px;
    color: $dark-blue;
    cursor: pointer;
    text-align: center;
    opacity: 0.5;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

#closeBtn:hover {
    opacity: 1;
}

#closeBtn>i {
    line-height: 30px;
    font-size: 18px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header_area {
        padding: 0;
    }

    .navbar-brand {
        margin-right: 30px;
    }

    .search-btn>a{
        font-size: 15px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 7px;
        padding-left: 7px;
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-toggler {
        border: 2px solid $dark;
        color: $dark;
        // margin: 37px 0;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }

    #homeNav {
        padding: 30px;
        background-color: $white;
        box-shadow: 1px 9px 10px rgba(255, 255, 255, 0.15);
        /*border-radius: 0 0 5px 5px;*/

        @media only screen and (max-width: 991px) { 
            padding: 10px;
      }
    }

    .search-btn>a {
        margin-left: 15px;
        padding: 10px 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header_area {
        padding: 0;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .navbar-toggler {
        border: 2px solid $dark;
        color: $dark;
        // margin: 37px 0;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }

    #homeNav {
        padding: 15px;
        background-color: $white;
        box-shadow: 1px 9px 10px rgba(255, 255, 255, 0.15);
        /*border-radius: 0 0 5px 5px;*/
    }

    .search-btn >a {
        margin-left: 15px;
        padding: 10px 0;
    }
}

@media (max-width: 767px) {
    .user-btn{
        display: none;
    }

    .help-btn{
        display: none;
    }
}


//end header
