.main-sidebar {
    position: absolute;
    left: -270px;
    min-height: 100%;
    z-index: 2;
    width: 270px;
    // min-height: 100vh;
    // max-height: 100%;
    overflow: auto;
    background-color: $secondary;
    @include transition(all .3s ease);

    .nav {
        .nav-item.nav-category {
            padding: 10px;
            background-color: rgba($secondary-light, 15%);
            color: #fff;
            font-size: $font-size-sm;
            font-weight: bold;
            letter-spacing: .1rem;
        }

        .nav-item {
            .nav-link {
                color: rgba($text-on-secondary, 70%);
                display: flex;
                align-items: center;
                justify-content: space-between;

                .menu-title {
                    width: 100%;
                }

                .menu-icon {
                    margin-left: 10px;
                }
            }
        }
        .nav-item.active>.nav-link, .nav-item .nav-link:hover {
            color: rgba($text-on-secondary, 100%);
            background-color: $secondary-dark;
        }

        .tree-menu {
            .tree-collapse {
                cursor: pointer;
            }

            .sub-menu {
                padding: 0;
                margin: 0;
                max-height: 0;
                overflow: hidden;
                background-color: $secondary-light;
                @include transition(max-height .3s ease-out);
            }
        }
    }

    @media (min-width: $md) {
        left: 0
    }
}

.sidebar-collapse {
    @media (min-width: $md) {
        .main-sidebar {
            width: 50px;

            .nav {
                .nav-item.nav-category {
                    display: none;
                }

                .nav-item {
                    .nav-link {
                        justify-content: center;

                        .menu-title {
                            display: none;
                        }

                        .menu-icon {
                            margin-left: 0;
                        }
                    }

                    &:hover {
                        .menu-title {
                            position: absolute;
                            left: 50px;
                            background-color: darken($secondary-light, 15%);
                            display: block;
                            width: 200px;
                            border-radius: 0 3px 0 0;
                            padding: 5px 10px;
                        }
                    }
                }

                .nav-item.tree-menu {
                    .tree-collapse {}

                    .sub-menu {
                        position: absolute;
                        width: 200px;
                        left: 50px;
                        max-height: initial;
                        opacity: 0;
                        visibility: hidden;
                    }

                    &:hover {
                        .sub-menu {
                            opacity: 1;
                            visibility: visible;
                            max-height: initial;
                        }
                    }
                }
            }
        }

        .content-wrapper {
            margin-left: 50px;
        }
    }
}

.sidebar-open {
    .main-sidebar {
        left: 0;

        .nav {
            .nav-item.nav-category {
                display: block;
            }

            .nav-item {
                .nav-link {
                    .menu-title {
                        display: block;
                    }
                }
            }
        }
    }

    .content-wrapper {
        margin-left: 270px;
    }
}
